/* Write your custom CSS here */


/*Custom Webkit Scrollbar*/


/*Please refer https://css-tricks.com/custom-scrollbars-in-webkit/ */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #e0e0e0;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #757575;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #e0e0e0;
}


/**************************************************/

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 64px;
        line-height: 60px;
    }
}


/*******************************************************************************/

#profile {
    margin-top: 0px;
    margin-left: 8px;
}

.bg-header {
    background-image: url(../images/search_image.jpg);
}

a.pos_with_image {
    line-height: 4;
}


/***************************************************/

.collection .collection-item.avatar .rounded {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.rounded {
    border-radius: 15%;
}

.collection .collection-item.avatar {
    min-height: 0px;
}


/******************************************************/

#partial-pos {
    position: absolute;
    top: -20px;
    left: -20px;
    border: 5px solid #F4F4F4;
    z-index: 998
}

#pad-left-top {
    padding-left: 20px;
    padding-top: 20px;
    /*can be avoided*/
}


/*****************************************************/

.card_image {
    border-radius: 5%;
    max-width: 200px;
    max-height: 200px;
}


/*********************************************************/

.rule {
    height: 1px;
    margin: 0px 0;
    overflow: hidden;
    background-color: #EEEEEE;
}


/********************************************/

#pad-left-top>div.card.no_pad_img.col.s12.m4.l4 {
    padding-left: 0px;
    padding-right: 0px;
}
#left-right-no-pad{
  padding-left: 0px;
  padding-right: 0px;
}

/********************************************/

.follow_img_stack {
    border: 3px solid #fff;
    margin-right: -15px;
}

span.label {
  position: relative;
  top: -12px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #fff;
}


/******************************************/
